.services {
  display: flex;
  /* height: 100rem; */
  margin-bottom: 2rem;
  margin-top: 15rem;
  margin-bottom: 3rem;
  /* scroll: view; */
  padding-top: 1rem;
}

/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.seperate {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20rem;
  width: 10rem;
  border: 5px;
  border-color: black;
}

.card-text {
  align-items: center;
  font-size: small;
  color: black;
}

.button {
  height: 1rem;
  width: 5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
}

.card-title {
  display: flex;
  text-align: center;
}
