.services {
  display: flex;
  /* height: 100rem; */
  margin-bottom: 2rem;
  /* margin-top: 15rem; */
  margin-bottom: 3rem;
  /* scroll: view; */
  padding-top: 1rem;
}

.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}

.seperate {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20rem;
  width: 10rem;
  border: 5px;
  border-color: black;
}

.card-text {
  align-items: center;
  font-size: small;
  color: black;
}

.button {
  /* height: 1rem;
  width: 5rem; */
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  /* display: flex; */
}

.main {
  /* min-height: 80vh; */
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 50px;
}
.card-title {
  display: flex;
  text-align: center;
}

#heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

#subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

.btn btn-danger {
  text-align: center;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: large;
}

img {
  transition: all 0.3sec ease;
}

/* img:hover {
  transform: scale(1.5);
} */
